{%extends 'base.html' %}
{%load static %}

{%block content%}
<h1>Dashboard</h1>

<!-- Create / Edit / Delete Parking -->
<div class="create-parking-div">
    <div class="row">
        <div class="col">Add New Parking</div>
        <div class="col">
            <a class="btn button-1" href="{% url 'create-parking'%}">Add Parking</a>
        </div>
    </div>
</div>

<hr>

<!-- Parking Dashboard -->
<div class="manager-dashboard">
    <!-- Loop through parking id -->
    {% for item in parking_space_data %}
    <div class="row">
        <div class="col"><b>{{ item.parking.name }}</b></div>
    </div>
    <div class="row">
        <div class="col">{{ item.spaces_used }}/{{item.parking.max_capacity}}</div>
        <div class="col">
            {% if item.parking.active %}
                <span>Active</span>
            {% else %}
                <span class="parking-nonactive">Inactive</span>
            {% endif %}
        </div>
        <div class="col">
            <a class="btn button-2 full-width" href="{% url 'parking-info' parking_id=item.parking.id %}">Info</a>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}
{% block postloadjs %}

{% endblock %}
