{%extends 'base.html' %}
{%load static %}

{%block content%}
<h1>Dashboard</h1>

<!-- Create / Edit / Delete Parking -->
    {% block create_parking_block %}
        {% include 'dashboard/dashboard_blocks/create_parking_block.html' %}
    {% endblock %}

<hr>

<!-- Parking Dashboard -->
<div class="manager-dashboard container">
    <!-- Loop through parking id -->
    {% for item in parking_space_data %}

        {% block manager_dashboard_block %}
            {% include 'dashboard/dashboard_blocks/manager_dashboard_block.html' %}
        {% endblock %}

    {% endfor %}
</div>

{%endblock%}
{% block postloadjs %}
<script src="{% static 'js/activate_parking_helper.js' %}"></script>
{% endblock %}
