<div class="container">

    <h2 class="text-center">Parking Details</h2>
    
    <div class="row table-row">
        <div class="col">{{parking.name}}</div>
        <div class="col">
            <a class="btn button-2 full-width" href="{% url 'edit-parking' parking_id=parking.id %}">Edit</a>
        </div>
    </div>
    <div class="row table-row">
        <div class="col">Phone Number</div>
        <div class="col">{{parking.phone_number}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Addess: 1st Line</div>
        <div class="col">{{parking.street_address1}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Addess: 2nd Line</div>
        <div class="col">
            {% if parking.street_address2 %}
                {{parking.street_address2}}
            {% endif %}
        </div>
    </div>
    <div class="row table-row">
        <div class="col">City</div>
        <div class="col">{{parking.city}}</div>
    </div>
    <div class="row table-row">
        <div class="col">County</div>
        <div class="col">{{parking.county}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Postcode</div>
        <div class="col">{{parking.postcode}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Country</div>
        <div class="col">{{parking.country}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Latitude</div>
        <div class="col">{{parking.latitude}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Longitude</div>
        <div class="col">{{parking.longitude}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Radius</div>
        <div class="col">{{parking.radius}}</div>
    </div>
    <div class="row table-row">
        <div class="col">Capacity</div>
        <div class="col">{{parking.max_capacity}}</div>
    </div>
    <hr>
    <!-- Delete parking -->
    <div class="row justify-content-center">
        <a class="btn button-3" href="{% url 'delete-parking' parking_id=parking.id %}">Delete Parking</a>
    </div>

</div>