{% block base_header_block %}
<header class="container container-fluid">
    <nav class="navbar navbar-expand-lg">
        <!-- Brand -->
        <a class="navbar-brand" href="/">
            <img src="https://geopay-app.s3.eu-north-1.amazonaws.com/images/logo/geopay-logo.webp" alt="GeoPay Logo" class="brand-logo">
        </a>
    
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars text-white"></i>
        </button>
    
        <!-- Navbar Items -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <i class="fa-solid fa-house"></i> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    {% if request.user.userprofile.user_type == 2 %}
                    <a class="nav-link" href="{% url 'create-parking' %}">
                        <i class="fa-solid fa-square-parking icon-colour-bg"></i> Create Parking
                    </a>
                    {% else %}
                    <a class="nav-link" href="{% url 'history' %}">
                        <i class="fa-regular fa-clipboard icon-colour-bg"></i> History
                    </a>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-clipboard icon-colour-bg"></i> Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user-account' %}">
                            <i class="fa-solid fa-user icon-colour-bg"></i> My Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout'%}">
                            <i class="fa-solid fa-right-from-bracket icon-colour-bg"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% endblock %}