<div class="container">
    <div class="row">
        <div class="col-4 text-center d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-credit-card icon-colour-bg full-size-icon fa-5x"></i>
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <span>
                    You are parked at <b>{{parking_name}}</b>. Click the button below to when you are ready to checkout.
                    </span>
                </div>
                <div class="row">
                    <form action="{% url 'leave' stay_id %}" class="w-100" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn button-1 w-100">
                            <span>Checkout Parking</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>