<div class="container">

    <div class="row">

        <div class="col-4 text-center d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-location-dot icon-colour-bg full-size-icon fa-5x"></i>
        </div>

        <div class="col-8">
            <div class="container">
                <div class="row">
                    <span>
                    <b>Enter Parking:</b>
                    Click the button below to check-in.
                    </span>
                </div>
                <div class="row">
                    <a id="provide-car-reg" class="btn button-1 w-100" data-bs-toggle="modal" data-bs-target="#carRegBootstrapModal">Check-In</a>
                </div>
            </div>
        </div>

    </div>
    
</div>