/* General */
html {
    height: 100%; 
}

body {
    height: 100%; 
    margin: 10px; 
    background-color: #0D1A3A;
    color: white;
    font-weight:500 ;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Albert Sans", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-style: normal; 
    line-height: 22px; 
    display: flex;
    flex-direction: column; 
    box-sizing: border-box; 
    font-size:small;
}

main {
    flex: 1;
}

/* Elements */

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
}


a{
    text-decoration: none;
    color: white;
}

/* set text to black even if href if missing */
a:not([href]) {
    color: #0D1A3A;
}

/* Specific */

.pad-top-10{
    padding-top: 10px;
}

.pad-bot-10{
    padding-bottom: 10px;
}

.center{
    text-align: center;
}

.pad-right-0{
    padding-right: 0;
}

/* Authentication */
.auth-container{
    max-width: 800px;
}

.logo-control{
    width: 15em;

}

.auth-field-control{
    margin: 0;
}

.black-text{
    color: black;
}

/* Form */
.form-control {
    font-size: small !important;
}

.form-group select, /* Target the select dropdown */
.form-group input { /* Target input fields */
    width: 100%; /* Set the width to match the container */
    
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.right-align {
    display: block;
    text-align: right;
    margin-left: 0;
}

/* Small text */
.small-text{
    font-size: smaller;
}

/* Icons */

#toggle-help {
    color: #EFC958;
    margin-left: 5px;
}

.full-size-icon {
    font-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Car registration pop-up */
/* Popup overlay styling */
.popup-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

/* Popup content box */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
}


/* Rows */
.padding-bottom{
    padding-bottom: 10px;
}


.table-row{
    border: 1px solid white;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px; 
}

.table-row-div{
    border: 1px solid white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; ;
}

/* Status */

.parking-nonactive{
    color: #EF3D59;
}

/* Tabs */

/* Navbar */
/* Remove default colour change on hover */
.nav-tabs .nav-link:hover {
    color: white; 
}

.navbar-toggler-icon::before {
    font-size: 1.5rem; 
    color: white;
    margin: 0;  
}

.nav-link {
    text-align: center;
}

.nav-item{
    width: 100%;
}

/* Ensure the navbar fills the width and aligns correctly */
.navbar {
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.dropdown-menu{
    background: none;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
}

.brand-logo {
    height: 50px; 
    object-fit: contain; 
}

/* Footer */

footer {
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Buttons */

.button-1{
    background: #4AB19D;
    color: #0D1A3A;
    width: 100%;
    display: flex;
}

.button-2{
    background: #EFC958;
    color:#0D1A3A;
    width: 100%;
    display: flex;
}

.button-3{
    background: #EF3D59;
    color: #0D1A3A;
    width: 100%;
    display: flex;
}

.button-4{
    background: #E17A47;
    color:#0D1A3A;
    width: 100%;
    display: flex;
}

.full-width{
    width: 100%;
}

/* Custom Messages */
.alert {
    border-radius: 20px; 
  
    border: none;
}

.alert-success{
    background-color: #4AB19D;
    color: white;
}

.alert-error { 
    background-color: #EF3D59;
    color: white;
}

.alert-danger { 
    background-color: #EF3D59;
    color: white;
}


/* Tables */
table {
    width: 100%;                 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333;
    display: none;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #EF3D59;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Error Handling */
.error-height{
    height: 50vh !important; 
}

/* Tutorial images */
.tutorial-image{
    max-width: 100%;
}

/* Media Queries */
@media (min-width: 768px) {
    .large-screen-btn-display {
        display: flex;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .large-screen-btn-display {
        width: 100%;
    }

    /* overrides  .button-1 - 
    used in paring manager dashboard */
    .button-1.button-1-100 { 
        width: 100% !important;
    }
}

@media (min-width: 400px) {
    .button-1 {
        width: 50%;
    }

    .button-2 {
        width: 50%;
    }

    .button-3 {
        width: 50%;
    }

    .button-4 {
        width: 50%;
    }
}
