/* General */
html{
    height: 100%; 
}
body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;

}

/* Navbar */
.navbar{

}

/* Buttons */

.button-1{
    background: #12B8FF;
    color: black;
}

.button-2{
    background: #FFE62D;
    color: black;
}

.button-3{
    background: #00D0FF;
    color: white;
}

/* Tables */
table {
    width: 100%;                 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333;
    display: none;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: blue;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
