/* General */
html {
    height: 100%; 
}

body {
    height: 100%; 
    margin: 10px; 
    background-color: #344E5C;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box; 
    font-size:small;
}

a{
    text-decoration: none;
    color: white;
}

.center{
    text-align: center;
}

/* Authentication */
.logo-control{
    width: 15em;

}

.auth-field-control{
    margin: 0;
}


/* Form */
.form-control {
    font-size: small !important;
}

.form-group select, /* Target the select dropdown */
.form-group input { /* Target input fields */
    width: 100%; /* Set the width to match the container */
    
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.right-align {
    display: block;
    text-align: right;
    margin-left: 0;
}

/* Small text */
.small-text{
    font-size: smaller;
}

/* Icons */

#toggle-help {
    color: #EFC958;
    margin-left: 5px;
}

/* Rows */
.padding-bottom{
    padding-bottom: 10px;
}


.table-row{
    border: 1px solid white;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px; 
}

.table-row-div{
    border: 1px solid white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; ;
}

/* Status */

.parking-nonactive{
    color: #EF3D59;
}

/* Navbar */


.navbar-toggler-icon::before {
    font-size: 1.5rem; 
    color: white;
    margin: 0;  
}


.navbar a {
    color: white;
    text-decoration: none;
}

.dropdown-menu{
    background: none;
}


/* Buttons */

.button-1{
    background: #4AB19D;
    color: #344E5C;
}

.button-2{
    background: #EFC958;
    color:#344E5C;
}

.button-3{
    background: #EF3D59;
    color: #344E5C;
}

.button-4{
    background: #E17A47;
    color:#344E5C;
}

.full-width{
    width: 100%;
}
/* Custom Messages */
.alert {
    border-radius: 20px; 
    padding: 15px; 
}

.alert-success{
    background-color: #4AB19D;
    color: white;
}

.alert-error { 
    background-color: #EF3D59;
    color: white;
}

/* Tables */
table {
    width: 100%;                 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; 
    color: #333;
    display: none;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #EF3D59;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
