{%extends 'base.html' %}
{%load static %}

{%block content%}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1>Hi, {{request.user}}, welcome to your dashboard!</h1>

        </div>
    </div>
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h2>Enter Or Leave Parking</h2>

        </div>
    </div>
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h2>Edit Account</h2>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h2>Transaction History</h2>
        </div>
    </div>
</div>

{%endblock%}
