{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="container auth-container">
        <!-- Logo  -->

        {% block logo %}
            {% include 'allauth/elements/logo.html' %}
        {% endblock %}
        
        <!-- Title -->
         <div class="row center justify-content-center">
            {% element h1 %}
            <h1 class="sr-only">{% trans "Login" %}</h1>
            {% endelement %}
        </div>

        <!-- Login Form -->
        <div class="row justify-content-center ">
            <form method="post" class="w-100" action="{% url 'account_login' %}">
                {% csrf_token %}
                
                <!-- Form Fields -->
                {% if redirect_field_value %}
                <!-- Hidden field to store redirect information if available -->
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="container">
                    
                       
                    <!-- Username input field with icon -->
                
                    <div class="row justify-content-center auth-field-control">
                        <label for="id_login" class="form-label"><i class="fas fa-user"></i> Username</label>
                    </div>
                    <div class="row justify-content-center auth-field-control pad-bot-10">
                        <input type="text" class="form-control" id="id_login" name="login" placeholder="Enter your username" required>
                    </div>
                    <!-- Password input field with icon -->
                
                    <div class="row justify-content-center auth-field-control">
                        <label for="id_password" class="form-label"><i class="fas fa-lock"></i> Password</label>
                    </div>
                    <div class="row justify-content-center auth-field-control">
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" required>
                    </div>

                    <p class="center">Forgot your password? Click <b><a href="{% url 'account_reset_password' %}">here</a></b></p>
                          
                    <hr>
                    <!-- Sign In Button -->
                    <div class="row justify-content-center auth-field-control">
                        <button type="submit" class="btn button-1 w-100">
                            {% trans "Sign In" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <!-- Sign Up Message -->
        <div class="row justify-content-center">
            <p class="text-center">
                Don't have an account?
            </p>
        </div>
        <div class="row justify-content-center">
            <p class="text-center">
                It's <a href="{{ signup_url }}"><b>here</b> to sign up.</a>
            </p>
        </div>
    </div>
{% endblock content %}
