{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="login-container">
        <!-- Logo  -->
        <div>
            <img src="" alt="Logo">
        </div>

        <!-- Title -->
        {% element h1 %}
            {% trans "Sign In" %}
        {% endelement %}

       
            <!-- Login Form -->
            
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                
                <!-- Form Fields -->
                {% if redirect_field_value %}
            <!-- Hidden field to store redirect information if available -->
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-10">
                        <!-- Username input field with icon -->
                        <div class="mb-3">
                            <label for="id_login" class="form-label"><i class="fas fa-user"></i> Username</label>
                            <input type="text" class="form-control" id="id_login" name="login" placeholder="Enter your username" required>
                        </div>

                        <!-- Password input field with icon -->
                        <div class="mb-3">
                            <label for="id_password" class="form-label"><i class="fas fa-lock"></i> Password</label>
                            <input type="password" class="form-control" id="id_password" name="password" placeholder="Enter your password" required>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Sign In Button -->
                <div>
                    <button type="submit" class="btn btn-primary btn-block">
                        {% trans "Sign In" %}
                    </button>
                </div>
            </form>

            <!-- Sign Up Message -->
            <p>
                {% trans "If you have not created an account yet, then please " %}
                <a href="{{ signup_url }}">{% trans "sign up" %}</a>
                {% trans " first." %}
            </p>
    </div>
{% endblock content %}
