{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %} <!-- Add this line -->

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="login-container">
        <!-- Logo  -->
        <div>
            <img src="" alt="Logo">
        </div>

        <!-- Title -->
        {% element h1 %}
            {% trans "Sign In" %}
        {% endelement %}

        {% if not SOCIALACCOUNT_ONLY %}
            <!-- Login Form -->
            {% url 'account_login' as login_url %}
            <form method="post" action="{{ login_url }}">
                {% csrf_token %}
                
                <!-- Form Fields -->
                {% for field in form.visible_fields %}
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                {{ redirect_field }}

                <!-- Sign In Button -->
                <div>
                    <button type="submit" class="btn btn-primary btn-block">
                        {% trans "Sign In" %}
                    </button>
                </div>
            </form>

            <!-- Sign Up Message -->
            <p>
                {% trans "If you have not created an account yet, then please " %}
                <a href="{{ signup_url }}">{% trans "sign up" %}</a>
                {% trans " first." %}
            </p>
        {% endif %}

        <!-- Google Sign-Up Button -->
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}

{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
