{% extends "account/base_entrance.html" %}
{% load i18n crispy_forms_tags %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <!-- Logo -->
    {% block logo %}
        {% include 'allauth/elements/logo.html' %}
    {% endblock %}

    <!-- Title -->
    <div class="row center justify-content-center pad-bot-10">
        {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
        {% endelement %}
    </div>
    


    {% if token_fail %}
    <div class="row center justify-content-center pad-bot-10">
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    </div>
    {% else %}
        <form method="post" class="justify-content-center" action="{{ action_url }}">
            {% csrf_token %}
            {{ redirect_field }}
            {{ form|crispy }}
            <!-- Button -->
            <div class="row justify-content-center auth-field-control">
                <button type="submit" class="btn button-1 justify-content-center">
                    {% trans 'Change Password' %}
                </button>
            </div>
        </form>
    {% endif %}
    <hr>
    <!-- Back to Login Screen -->
    {% block back_to_login %}
        {% include 'allauth/elements/back_to_login.html' %}
    {% endblock %}
    <hr>    
    <!-- Footer -->
    {% block base_footer_block %}
        {% include 'base_footer_block/base_footer_block.html' %}
    {% endblock %}
</div>
{% endblock content %}
