{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}

    {% block logo %}
    {% include 'allauth/elements/logo.html' %}
    {% endblock %}

    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}

    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}

    <!-- Back to Login Screen -->
    {% block back_to_login %}
        {% include 'allauth/elements/back_to_login.html' %}
    {% endblock %}
{% endblock content %}
