{% extends "account/base_entrance.html" %}
{% load i18n allauth account crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <!-- Logo -->
    {% block logo %}
        {% include 'allauth/elements/logo.html' %}
    {% endblock %}

    <!-- Title -->
    <div class="center">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% element p %}
        Enter your email address below, and we'll send you an email allowing you to reset it.
    {% endelement %}
    {% url 'account_reset_password' as reset_url %}

    <div class="justify-content pad-bot-10 table-row-div">
        <!-- Form starts -->
        <form method="post" action="{{ reset_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="center">
                <button type="submit" class="btn button-1">Submit</button>
            </div>
        </form>
    </div>

    {% element p %}
        Contact us if you have any trouble resetting your password: (<a href="mailto:info.geopay@gmail.com">info.geopay@gmail.com</a>)
    {% endelement %}

    <!-- Back to Login Screen -->
    {% block back_to_login %}
        {% include 'allauth/elements/back_to_login.html' %}
    {% endblock %}

{% endblock content %}
