{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container">
    <!-- Logo -->
    {% block logo %}
        {% include 'allauth/elements/logo.html' %}
    {% endblock %}

    <!-- Title -->
    <div class="row center justify-content-center pad-bot-10">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    </div>

    <!-- Content -->
    <div class="row center justify-content-center pad-bot-10">
        {% element p %}
            {% trans 'Your password is now changed.' %}
        {% endelement %}
    </div>

    <!-- Back to Login Screen -->
    {% block back_to_login %}
        {% include 'allauth/elements/back_to_login.html' %}
    {% endblock %}
    <!-- Footer -->
    <hr>
    {% block base_footer_block %}
        {% include 'base_footer_block/base_footer_block.html' %}
    {% endblock %}
</div>
{% endblock content %}
