{% extends "account/base_entrance.html" %}
{% load i18n allauth account crispy_forms_tags %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
<div class="container auth-container">
    <!-- Logo -->
    {% block logo %}
        {% include 'allauth/elements/logo.html' %}
    {% endblock %}

    <!-- Title -->
    <div class="row center justify-content-center">
        {% element h1 %}
            {% trans "Password Reset" %}
        {% endelement %}
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <div class="row justify-content-center">
        {% element p %}
        Enter your email address below, and we'll send you an email allowing you to reset it.
        {% endelement %}
        {% url 'account_reset_password' as reset_url %}
    </div>
    

    <div class="row justify-content-center">
        <!-- Form starts -->
        <form method="post" action="{{ reset_url }}" class="w-100">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="justify-content-center d-flex">
                <button type="submit" class="btn button-1 justify-content-center">Reset</button>
            </div>
        </form>
    </div>
    <hr>

    <div class="row justify-content-center">
        {% element p %}
        Contact us if you have any trouble resetting your password: (<a href="mailto:info.geopay@gmail.com">info.geopay@gmail.com</a>)
    {% endelement %}
    </div>

    <!-- Back to Login Screen -->
    {% block back_to_login %}
        {% include 'allauth/elements/back_to_login.html' %}
    {% endblock %}

    <hr>
    <!-- Footer -->
    {% block base_footer_block %}
        {% include 'base_footer_block/base_footer_block.html' %}
    {% endblock %}
</div>
{% endblock content %}
