{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load static %} 

{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{%block extra_js%}
<script src="{% static 'js/signup.js' %}"></script>
{%endblock%}

{% block content %}
    <div class="container auth-container">
        <!-- Logo -->
        {% block logo %}
            {% include 'allauth/elements/logo.html' %}
        {% endblock %}

        <!-- Title -->
        <div class="row center justify-content-center pad-bot-10">
            {% element h1 %}
            <h1>REGISTER AN ACCOUNT</h1>
            {% endelement %}
        </div>

        <!-- Signup Form -->
       
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}

            <!-- Form Fields -->
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
           
            <!-- signin -->
            <div class="row justify-content-center auth-field-control">
                <button type="submit" class="btn button-1 justify-content-center">
                    {% trans "Sign Up" %}
                </button>
            </div>
        </form>


        <p class="text-center mt-3">
            {% trans "Already have an account? " %}
            <a href="{{ login_url }}">{% trans "Sign In" %}</a>
        </p>
    </div>
    {% block base_footer_block %}
        {% include 'base_footer_block/base_footer_block.html' %}
    {% endblock %}
{% endblock content %}
