<div class="row padding-bottom w-100 table-row">
    <div class="container">
        <div class="row align-items-center">
            <!-- First Column -->
            <div class="col-4 text-center d-flex align-items-center justify-content-center">
                <i class="fa-solid fa-user icon-colour-bg full-size-icon fa-5x"></i>
            </div>
            <!-- Second Column -->
            <div class="col-8 col-md-4">
                <div class="container">
                    <div class="row">
                        <span>
                            <b>My Account:</b> Access and edit your profile details.
                        </span>
                    </div>
                </div>
            </div>
            <!-- Third Column (Button) -->
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <a class="btn button-4 w-100 justify-content-center" href="{% url 'user-account' %}">
                    Check Profile
                </a>
            </div>
        </div>
    </div>
</div>
