
<div class="row padding-bottom w-100 table-row">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center d-flex align-items-center justify-content-center">
                <i class="fa-regular fa-clipboard icon-colour-bg full-size-icon fa-5x"></i>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row">
                        <span><b>Usage History:</b> Consult your parking usage history.
                        </span>
                        </div>
                    <div class="row">
                        <a class="btn button-2 w-100" href="{% url 'history' %}">
                            <span>
                            Check History
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>