{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    {% for stay in user_history %} 

    <!-- table for each transaction -->
    <div class="table-row-div"> 

        <!-- Parking Name --> 
        {% block parking_name_block %}
            {% include 'history/history_blocks/parking_name_block.html' %}
        {% endblock %}


        <!-- Check-In info -->
        {% block check_in_info_block %}
            {% include 'history/history_blocks/check_in_info_block.html' %}
        {% endblock %}


        <!-- Check-Out info -->
        {% block check_out_info_block %}
            {% include 'history/history_blocks/check_out_info_block.html' %}
        {% endblock %}


        <!-- Fee info -->
        {% block fee_info_block %}
            {% include 'history/history_blocks/fee_info_block.html' %}
        {% endblock %}


        <!-- Transaction Id -->
        {% if stay.paid %}

            {% block transaction_id_block %}
                {% include 'history/history_blocks/transaction_id_block.html' %}
            {% endblock %}

        {% endif %}
        
    </div>
    <hr>
    {% endfor %}  
</div>
{% endblock %}
