{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    {% for stay in user_history %} 

    <!-- table for each transaction -->
    <div class="table-row-div"> 

        <!-- Parking Name --> 
        <div class="row ">
            <div class="col">
                <span>
                    <b>Parking: {{ stay.parking_name.name }}</b>
                </span>
            </div>
        </div>

        <!-- Check-In info -->
        <div class="row">
            <div class="col-4">
                <span>
                    Check-In:
                </span> 
            </div>
            {% for item in enter_parking_history %}
                {% if stay.id == item.stay.id %}
                    <div class="col-8">
                        <span>
                            {{ item.entry.timestamp_enter }}
                        </span>
                    </div>
                {%endif%}
            {%endfor%}
        </div>

        <!-- Check-Out info -->
        <div class="row">
            <div class="col-4">Checkout: </div>
            {% for item in leave_parking_history %}
                {%if stay.id == item.stay.id%}
                    <div class="col-8">
                        <span>
                            {{ item.leave.timestamp_leave }}
                        </span>
                    </div>
                {% else %}
                    <div class="col-8"></div>
                {%endif%}
            {%endfor%}
        </div>

        <!-- Fee info -->
        <div class="row">
            <div class="col-4">Paid: </div>
            {% if stay.calculated_fee %}
                <div class="col-8">
                    <span>
                        £{{stay.calculated_fee}}
                    </span>
                    
                </div>
            {% else %}
                <div class="col-8">
                    <span>
                        You haven't left.
                    </span>
                </div>
            {% endif %}
        </div>

        <!-- Transaction Id -->
        {% if stay.paid %}
        <div class="row">
            <div class="col-4">
                <span>
                    Transaction: 
                </span>
            </div>
            <div class="col-8">
                <span>
                    {{stay.id}}
                </span>
            </div>
        </div>
        {% endif %}
        
    </div>
    <hr>
    {% endfor %}  
</div>
{% endblock %}
