{%extends 'base.html' %}
{%load static %}

{%block content%}

<h1 class="text-center">Parking Informations</h1>

<!-- Parking Status -->

    {% block parking_info_block %}
        {% include 'parking_info/parking_info_blocks/parking_info_block.html' %}
    {% endblock %}
    <hr>

<!-- Parking Details -->

    {% block parking_location_block %}
        {% include 'parking_info/parking_info_blocks/parking_location_block.html' %}
    {% endblock %}

    <hr>

<!-- Parking Rates -->

    {% block parking_rates_block %}
        {% include 'parking_info/parking_info_blocks/parking_rates_block.html' %}
    {% endblock %}

{%endblock%}

