{%extends 'base.html' %}
{%load static %}

{%block content%}
THis is enter.html


<!-- Render table that shows tarrif for selected parking -->
<table>
    <thead>
        <tr>
            <th>Rate Name</th>
            <th>Hour Range</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- Form -->
{% if parking_id %}
    <!-- If parking ID is not None -->
     
     <form method="post">
        {% csrf_token %}
        {{stayform}}
        <input type="submit" action="Submit button">
    </form>

    {%else%}
    
    <!-- If parking ID is None -->
    <form method="post">
        {% csrf_token %}
        {{stayform}}
        <input type="submit" value="Submit the form">
    </form>
{%endif%}

{%endblock%}
