{%extends 'base.html' %}
{%load static %}

{%block content%}
THis is enter.html


<!-- Render table that shows tarrif for selected parking -->
<table id="ratesTable">
    <thead>
        <tr>
            <th>Rate Name</th>
            <th>Hour Range</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<!-- Form -->
{% if parking_id %}

    <!-- If parking ID is not None -->
     
     <form method="post">
        {% csrf_token %}
        <input type="submit" action="Submit button">
    </form>

    {%else%}
    
    <!-- If parking ID is None -->
    <form method="post">
        {% csrf_token %}
        <label for="parking-select">Select Parking:</label>
        <select id="parking-select" name="parking_name">
            <option value="">Select parking</option>
            {% for parking in parking_list %}
                <option value="{{ parking.id }}" 
                    {% if parking_id == parking.id %}
                        selected
                    {% endif %}>
                    {{ parking.name }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit the form">
    </form>
{%endif%}


{%endblock%}
{% block postloadjs %}
<script src="{% static 'js/parking_fee.js' %}"></script>
{% endblock %}
