{%extends 'base.html' %}
{%load static %}

{%block content%}
<div class="container h-100">

    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1>Dashboard</h1>
        </div>
    </div>

    <span>Today, I want to:</span>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row h-100">
                {%if existing_stay_obj %}
                  <form action="{% url 'leave' stay_id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn button-1" id="checkout-button">Checkout Parking</button>
                  </form>
                {%else%}
                <div class="col-12 col-md-12">
        
                    <form action="{% url 'get_parking_location' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" id="userLatitude" name="latitude" value="">
                        <input type="hidden" id="userLongitude" name="longitude" value="">
                        <button type="submit" class="submit btn button-1" onclick="getLocation()">Enter A Parking</button>
                    </form>
                </div>
                {%endif%}
            </div>

        </div>
        <div class="col">
            <a class="btn button-2" href="{% url 'history' %}">Usage History</a>
        </div>
    </div>
</div>

{%endblock%}
{% block postloadjs %}
<script src="{% static 'js/geolocation.js' %}"></script>
{% endblock %}

