{%extends 'base.html' %}
{%load static %}

{%block content%}


    <div class="row">
        <div class="col-7 col-md-6 my-auto">
            <h1>Dashboard</h1>
        </div>
    </div>

    <span>Welcome, <b><i>{{request.user.username}}</i></b>.</span>
    <hr>

    <!-- Check In/ Out Parking -->
    {% block check_in_out %}
        {% include 'home/_check_in_out/check_in_out_block.html' %}
    {% endblock %}

    <!-- History -->
    {% block history_block %}
        {% include 'home/history/history_block.html' %}
    {% endblock %}

    <!-- Check Account Details -->
    {% block account_details %}
        {% include 'home/account_details/account_block.html' %}
    {% endblock %}



{%endblock%}

{% block postloadjs %}
    <script src="{% static 'js/geolocation.js' %}"></script>
    <script src="{% static 'js/provide_car_reg.js' %}"></script>
{% endblock %}

