{%extends 'base.html' %}
{%load static %}

{%block content%}
<div class="container h-100">

    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1>Hello {{request.user}}, welcome to your dashboard!</h1>
        </div>
    </div>

    
    <button onclick="getLocation()">Try It</button>
    <p id="userLocation"></p>


    <div class="row h-100">
        {%if existing_stay_obj %}

        <div class="product">
            <div class="description">
              <h3>Leave {{parking_name}}</h3>
              <h5>Latitude: {{lat}}</h5>
              <h5>Longitude: {{long}}</h5>
            </div>
          </div>
          <form action="{% url 'leave' stay_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" id="checkout-button">Checkout</button>
          </form>
        {%else%}
        <div class="col-12 col-md-12">
            <a class="submit btn btn-success" href="{% url 'enter' %}">Enter Parking</a>
            <!-- Based on user location return parking within this radius -->
        </div>
        {%endif%}


    </div>

    <div class="row h-100">
        <div class="col-6 col-md-6 my-auto">
            <h2>My Account</h2>
        </div>
        <div class="col-6 col-md-6 my-auto">
            <a class="btn btn-success">Button</a>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-6 col-md-6 my-auto">
            <h2>History</h2>
        </div>
        <div class="col-6 col-md-6 my-auto">
            <a class="btn btn-success" href="{% url 'history' %}">Button</a>
        </div>
    </div>
</div>
{%endblock%}

