{%extends 'base.html' %}
{% load crispy_forms_tags %}
{%load static %}

{%block content%}
<h1>Edit Parking</h1>

<form method="post">
    {% csrf_token %}
    
    <div class="create-parking-form-group">
        <label for="id_name" class="sr-only">Parking Name</label>
        {{ editparkingform.name|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_phone_number" class="sr-only">Phone Number</label>
        {{ editparkingform.phone_number|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_street_address1" class="sr-only">Street Address 1</label>
        {{ editparkingform.street_address1|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_street_address2" class="sr-only">Street Address 2</label>
        {{ editparkingform.street_address2|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_city" class="sr-only">City</label>
        {{ editparkingform.city|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_county" class="sr-only">County</label>
        {{ editparkingform.county|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_postcode" class="sr-only">Postcode</label>
        {{ editparkingform.postcode|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_country" class="sr-only">Country</label>
        {{ editparkingform.country|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_latitude" class="sr-only">Latitude</label>
        {{ editparkingform.latitude|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_longitude" class="sr-only">Longitude</label>
        {{ editparkingform.longitude|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_radius" class="sr-only">Radius</label>
        {{ editparkingform.radius|as_crispy_field }}
    </div>

    <div class="create-parking-form-group">
        <label for="id_max_capacity" class="sr-only">Max Capacity</label>
        {{ editparkingform.max_capacity|as_crispy_field }}
    </div>
    
    <button type="submit" class="btn button-1">Edit</button>
</form>

{%endblock%}
{% block postloadjs %}

{% endblock %}
