{%extends 'base.html' %}
{% load crispy_forms_tags %}
{%load static %}

{%block content%}
<h1>Edit Parking</h1>

<form method="post">
    {% csrf_token %}
    <h2>Parking Address Section</h2>
    <div class="create-parking-form-group">
        <label for="id_name" class="sr-only">Parking Name</label>
        {{ editparkingform.name|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_phone_number" class="sr-only">Phone Number</label>
        {{ editparkingform.phone_number|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_street_address1" class="sr-only">Street Address 1</label>
        {{ editparkingform.street_address1|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_street_address2" class="sr-only">Street Address 2</label>
        {{ editparkingform.street_address2|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_city" class="sr-only">City</label>
        {{ editparkingform.city|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_county" class="sr-only">County</label>
        {{ editparkingform.county|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_postcode" class="sr-only">Postcode</label>
        {{ editparkingform.postcode|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_country" class="sr-only">Country</label>
        {{ editparkingform.country|as_crispy_field }}
    </div>

    <!-- Geolocation -->
    <h2>Geolocation Section</h2>
    <span class="small-text right-align">How does it work? <i id="toggle-help" class="fa-solid fa-circle-info"></i></span>
    
    <div id="help-parking-during-rate" style="display: none;">
        <p class="small-text"><b>First step</b> - Enter your parking location on Google Maps.</p>
        <p class="small-text"><b>Second step</b> - Click right on the red marker.</p>
        <p class="small-text"><b>Third step</b> - Click left on the top row, it will copy the values</p>
        <p class="small-text"><b>Fourth step</b> - Paste the first value in "latitude" field, and your second value in "longitude"</p>
        <p class="small-text"><b>Note</b> - The values are longer than they appear on Google map. For accuracy, it is better to copy and paste them rather than enter them manually.</p>
        <img src="https://geopay-app.s3.eu-north-1.amazonaws.com/images/tutorial/geolocation-tutorial.webp" class="tutorial-image">
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_latitude">Latitude</label>
        {{ editparkingform.latitude|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_longitude">Longitude</label>
        {{ editparkingform.longitude|as_crispy_field }}
    </div>
    
    <div class="create-parking-form-group">
        <label for="id_radius">Radius in meters (min 50 meters)</label>
        {{ editparkingform.radius|as_crispy_field }}
    </div>

    <div class="create-parking-form-group">
        <label for="id_max_capacity">Max Capacity</label>
        {{ editparkingform.max_capacity|as_crispy_field }}
    </div>
    
    <div class="row justify-content-center">
        <button type="submit" class="btn button-1 justify-content-center">Save</button>
    </div>
   
</form>

{%endblock%}
{% block postloadjs %}
<script src="{% static 'js/add_rate.js' %}"></script>
{% endblock %}
