<div class="table-row-div">
    
    <!-- First Row -->
    <div class="row">
        <!-- Parking Title -->
        <div class="col"><b>{{ item.parking.name }}</b></div>
    </div>

    <!-- Second Row -->
    <div class="row align-items-center center">
        <!-- Parking Space Available -->
        <div class="col"> 
            <i class="fa-solid fa-car"></i>
            <span>   
                {{ item.spaces_used }}/{{item.parking.max_capacity}}
            </span> 
        </div>
        
        <!-- Parking Active/Inactive -->
        <div class="col">
            {% if item.parking.active %}
                <span>
                    <b>Active</b>
                </span>
            {% else %}
                <span class="parking-nonactive">
                    <b>Inactive</b> 
                    <!-- Add a data attribute to link the icon to the help div -->
                    <i class="fa-solid fa-circle-info toggle-help" 
                       data-help-id="help-parking-{{ forloop.counter }}"></i>
                </span>
            {% endif %}
        </div>
    
        <!-- Button To Access More Info -->
        <div class="col-12 col-md-4 mt-3 mt-md-0 justify-content-center large-screen-btn-display">
            <a class="btn button-2 justify-content-center" href="{% url 'parking-info' parking_id=item.parking.id %}">Info</a>
        </div>
    </div>
</div>

<!-- Help div with taking unique ID -->
<div class="help-container">
    <div id="help-parking-{{ forloop.counter }}" class="help-parking-activate-parking" style="display: none;">
        <p class="small-text">You haven't activated this parking.</p>
        <p class="small-text">Users can only check-in in active parkings.</p>
        <p class="small-text">To activate, click on "Info" button</p>
    </div>
</div>