{%extends 'base.html' %}
{%load static %}
{%block content%}

<h1>Parking Inspector</h1>

<!-- Add Illegally Parked Car Registration -->
    {% block register_illegal_car %}
        {% include 'parking_inspector/parking_inspector_blocks/register_illegal_car.html' %}
    {% endblock %}

<hr>

<div class="container mt-4">
    <!-- Tab Navigation -->
    <ul class="nav nav-tabs" id="parkingInspectorTabs" role="tablist">
        <li class="nav-item w-50">
            <a class="nav-link active" id="cars-checked-in-tab" data-toggle="tab" href="#cars-checked-in" role="tab" aria-controls="cars-checked-in" aria-selected="true">
                Checked In
            </a>
        </li>
        <li class="nav-item w-50">
            <a class="nav-link" id="illegally-parked-cars-tab" data-toggle="tab" href="#illegally-parked-cars" role="tab" aria-controls="illegally-parked-cars" aria-selected="false">
                Illegal Regs.
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content pad-top-10" id="parkingInspectorTabsContent">

        <!-- Cars Checked In Tab -->
        <div class="tab-pane fade show active" id="cars-checked-in" role="tabpanel" aria-labelledby="cars-checked-in-tab">
            {% block cars_checked_in %}
                {% include 'parking_inspector/parking_inspector_blocks/cars_checked_in.html' %}
            {% endblock %}
        </div>

        <!-- Illegally Parked Cars Tab -->
        <div class="tab-pane fade" id="illegally-parked-cars" role="tabpanel" aria-labelledby="illegally-parked-cars-tab">
            {% block illegally_parked_cars %}
                {% include 'parking_inspector/parking_inspector_blocks/illegally_parked_cars.html' %}
            {% endblock %}
        </div>
    </div>
</div>



{%endblock%}

{% block postloadjs %}

{% endblock %}
